/* Sticky footer styles
-------------------------------------------------- */
/*html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Set the fixed height of the footer here 
#footer {
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	background-color: #f5f5f5;
}

.centered {
  text-align: center;
}*/

.city {
	font-size: 14px;
	/*color: #ccc;*/
}

.regionArea {
	font-size: 12px;
	color: #ccc;
}

.select2-results__options li {
	color: blue;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: black; 
	color: red;
}

.somediv {
	margin-top: 50px;
	width: 50px;
	height: 50px;
	color: red;
	background-color: blue;
}

footer {
	text-align:center;
	position: fixed;
	bottom: 40px;
	width: 100%;
}